{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "rules": {
    "no-shadow": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "no-console": "off"
  },
  "globals": {
    "window": true
  }
}
